<div fxLayout="column" fxLayoutGap="10" fxFlex="80%">
  <h2>Alle Eissorten</h2>

  <div *ngIf="icecreams.length > 0">
    <mat-divider></mat-divider>
    <div *ngFor="let ice of icecreams">
      <div fxLayout="row" class="icecream-row">
        <div fxFlex="40" class="icecream-data">{{ice.name}}</div>
        <div fxFlex="40" class="icecream-data">{{displayCategory(ice)}}</div>
        <div fxFlex="20"><a [routerLink]="['/icecream-details', ice.id]">
          <button mat-button color="accent">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </a></div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div *ngIf="icecreams.length == 0">
    Noch keine Eissorten vorhanden.
  </div>

</div>
