<div fxLayout="column" id="icecreamDetails">

  <div fxLayout="row">
    <a routerLink="/icecreams" fxFlex="10">
      <button mat-button color="accent" id="buttonBack">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Zurück
      </button>
    </a>
  </div>

  <div *ngIf="icecream">
    <div fxLayout="column">
      <div fxLayout="row">
        <h1 id="name">{{icecream.name}}</h1>
        <h2 id="category">{{displayCategory(icecream)}}</h2>
      </div>

      <h3>Zutaten</h3>
      <mat-chip-list aria-label="Zutaten" id="ingredients">
        <mat-chip color="primary"
                  *ngFor="let ingredient of icecream.ingredients">{{ingredient}}</mat-chip>
      </mat-chip-list>
    </div>

    <h3>Lebensmittelunverträglichkeiten</h3>
    <div id="intolerances">{{icecream.intolerances}}</div>

    <h3>Nährwert</h3>
    <div id="calories">{{icecream.calories}} kcal / 100g</div>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="20">
        <h3>EK Preis</h3>
        <div id="wholesalePrice">{{icecream.wholesalePrice}} EUR / Liter</div>
      </div>

      <div fxLayout="column" >
        <h3>VK Preis</h3>
        <div id="retailPrice">{{icecream.retailPrice}} EUR / Liter</div>
      </div>
    </div>

    <div *ngIf="icecream.category == 'CREAM'">
      <h3>Sahnegehalt</h3>
      <div id="creamContent">{{icecream.creamContent}} %</div>
    </div>

    <div *ngIf="icecream.category == 'FRUIT'">
      <h3>Fruchtgehalt</h3>
      <div id="fruitContent">{{icecream.fruitContent}} %</div>

      <h3>Früchte</h3>
      <mat-chip-list aria-label="Früchte" id="fruits">
        <mat-chip color="primary" *ngFor="let fruit of icecream.fruits">{{fruit}}</mat-chip>
      </mat-chip-list>
    </div>

    <div *ngIf="icecream.category == 'WATER'">
      <h3>Geschmacksstoffe</h3>
      <mat-chip-list aria-label="Geschmacksstoffe" id="flavours">
        <mat-chip color="primary" *ngFor="let flavour of icecream.flavours">{{flavour}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>

</div>
